<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/black/IdeaProjects/FinalProject">
        <classes>

            <class name="HyperLinks"></class>
            <class name="MaximizeScrollExit"></class>
            <class name="NewPageLinks"></class>
            <class name="OpenAndCopyUpdatePagesText"></class>
            <class name="PlayAndPauseVideo"></class>
            <class name="URLTitle"></class>
            <class name="SearchBar"></class>
            <class name="SearchBoxTestWithoutInput"></class>
            <class name="URLTitle"></class>

        </classes>
    </test>
</suite>